@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
    html {
        font-family: 'Helvetica';
    }
}


    .navbar-start
{
    width: 45%
}

.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity 0.3s ease;
}